*.user
*.sln
*.sdf
*.suo
*.opensdf
*.vcxproj
*.filters

/FuncLib/debug/*
/FuncLib/release/*

/FuncPlugin/debug/*
/FuncPlugin/release/*

/FuncPlugin/ui_IconWidget.h
/FuncPlugin/ui_RetrievalWidget.h

/UtilityLib/debug/*
/UtilityLib/release/*

/UtilityLib/LFD/Cache/*
/UtilityLib/LFD/List.txt